<div id="home-container">
    <h1>Hello, <span id="loggedInUsername"></span></h1>
    <br>
    Welcome your Expense Reimbursement System!
    </br>
</div>

    <br>
    An Admin can register new users, update users, and delete users
    </br>
    <br>
    An Employee can view reimbursements,update reimbursements ,view details, and submit new reimbursements
    </br>
    <br>
    A Finance Manager can view all reimbursements, filter reimbursements, view details, approve or deny reimbursements
    </br>
    <br>
    Your options are in the Nav bar, please email if you need help from an admin or finance manager
    </br>
</div>