<div id="users-container">
    <h1>Hello Admin, <span id="loggedInUsername"></span></h1>
    <div>
        Admin options2
        </br>


        <button id="newUserBtn">Add a new user</button>
        <button id="viewUserBtn">View all users</button>
        <button id="updateUserBtn">Update a user</button>
        <button id="deleteUserBtn">Delete a user</button>

    </div>
    <table id="allUsersTable">
        <!-- table that is populated dynamically in configureAllUsersView()-->
    </table>
</div>